MB_DB_TYPE={{ metabase.db_type }} 
MB_DB_DBNAME={{ metabase.db_dbname }} 
MB_DB_PORT={{ metabase.db_port }}
MB_DB_USER={{ metabase.db_user }} 
MB_DB_PASS={{ metabase.db_password }}
MB_DB_HOST={{ metabase.db_host }}
